<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/header.ejs') %>
    <title>Document</title>
</head>

<body>
  <form action="/submit">
    <h1>hello Bloger</h1> <br>
    <input type="text" placeholder="Enter Title" id="blogTitle"> <br>
    <textarea name="" id="blogContent" cols="30" rows="6" placeholder="Enter Content"></textarea> <br>
    <input type="text" placeholder="Author Name" id="blogAuthor"> <br>
    <input type="file" name="" id="blogFile"> <br>
    <button type="submit">Add Blog</button>
    <div id="render"></div>
  </form>
</body>
<script>
let  render = document.getElementById("render")
const    Title = document.getElementById("blogTitle")
const    Content = document.getElementById("blogContent")
const    Author = document.getElementById("blogAuthor")
    // res.send("hello")
  const blogObject = {
    // hello
    Title :Title.value,
    Content :Content.value,
    Author :Author.value,
    // FileImage: document.getElementById("blogFile").file,
  }
  console.log(blogObject)
</script>

</html>