<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/header.ejs') %>
    <title>Document</title>
</head>

<body>
  <div class="px-5 py-5">
    <form action="/submit">
      <h1>Add Todo</h1> <br>
      <input type="text" placeholder="Enter Title" id="blogTitle"> <br>
      <button type="submit btn" class="btn bg-primary py-1 rounded-5 my-1 text-white">Add Todo</button>
      <div id="render"></div>
    </form>
  </div>
</body>
</html>