<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/header.ejs') %>
    <title>Document</title>
</head>

<body>
  <h1>
    <!-- vhan sey heading kei value aay gei or yhan vo vali heading or ye vali heading kei value braber ho jay gei -->
    <%= heading %>
  </h1>
  <!-- (spacific id 1)  ham yha per component ka use karen gey jo key meny router mey baat kei thei  -->
  <!-- yha per jo (-) laga hua hey vo es baat ko represent kar rha hey key ye tag jo hamnye diya hey vo aike component hy   -->
  <%- include('../partials/nav.ejs') %>

    <a href="/download">Download</a>
</body>

</html>