<footer>
    <h1>Footer</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed earum quo cumque rem totam corrupti ab, magni modi vel consequuntur voluptate aut expedita accusamus exercitationem nihil quia error molestiae dolore!</p>
    <button>On Click</button>
</footer>